 ## Featurizing text data with tfidf weighted word-vectors

### Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import re
import time
import warnings
import numpy as np
from nltk.corpus import stopwords
from sklearn.preprocessing import normalize
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
warnings.filterwarnings("ignore")
import sys
import os 
import pandas as pd
import numpy as np
from tqdm import tqdm
import spacy

In [2]:
##mount drive for data
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#setup the path
%cd /content/drive/MyDrive/Quora

### Read Data

In [4]:
df = pd.read_csv("train.csv")
df['question1'] = df['question1'].apply(lambda x: str(x))
df['question2'] = df['question2'].apply(lambda x: str(x))

In [5]:
df.head()

   id  qid1  ...                                          question2 is_duplicate
0   0     1  ...  What is the step by step guide to invest in sh...            0
1   1     3  ...  What would happen if the Indian government sto...            0
2   2     5  ...  How can Internet speed be increased by hacking...            0
3   3     7  ...  Find the remainder when [math]23^{24}[/math] i...            0
4   4     9  ...            Which fish would survive in salt water?            0

[5 rows x 6 columns]

In [6]:
# merge texts
questions = list(df['question1']) + list(df['question2'])

tfidf = TfidfVectorizer(lowercase=False, )
tfidf.fit_transform(questions)

# dict key:word and value:tf-idf score
word2tfidf = dict(zip(tfidf.get_feature_names(), tfidf.idf_))

- After we find TF-IDF scores, we convert each question to a weighted average of word2vec vectors by these scores.
- here we use a pre-trained GLOVE model which comes free with "Spacy".  https://spacy.io/usage/vectors-similarity
- It is trained on Wikipedia and therefore, it is stronger in terms of word semantics.

### Calculate tfidf weighted w2v

In [ ]:
nlp = spacy.load('en_core_web_sm')

In [ ]:
vecs1 = []
for qu1 in tqdm(list(df['question1'])):
    doc1 = nlp(qu1) 
    # 384 is the number of dimensions of vectors 
    mean_vec1 = np.zeros([len(doc1), len(doc1[0].vector)])
    for word1 in doc1:
        # word2vec
        vec1 = word1.vector
        # fetch df score
        try:
            idf = word2tfidf[str(word1)]
        except:
            idf = 0
        # compute final vec
        mean_vec1 += vec1 * idf
    mean_vec1 = mean_vec1.mean(axis=0)
    vecs1.append(mean_vec1)
df['q1_feats_m'] = list(vecs1)

100%|████████████████████████████████████████████████████████████████████████| 404290/404290 [2:13:51<00:00, 50.34it/s]

In [ ]:
vecs2 = []
for qu2 in tqdm(list(df['question2'])):
    doc2 = nlp(qu2) 
    mean_vec1 = np.zeros([len(doc1), len(doc2[0].vector)])
    for word2 in doc2:
        # word2vec
        vec2 = word2.vector
        # fetch df score
        try:
            idf = word2tfidf[str(word2)]
        except:
            #print word
            idf = 0
        # compute final vec
        mean_vec2 += vec2 * idf
    mean_vec2 = mean_vec2.mean(axis=0)
    vecs2.append(mean_vec2)
df['q2_feats_m'] = list(vecs2)

100%|████████████████████████████████████████████████████████████████████████| 404290/404290 [1:47:52<00:00, 62.46it/s]

### Construct the final features

In [7]:
#prepro_features_train.csv (Simple Preprocessing Feartures)
#nlp_features_train.csv (NLP Features)
if os.path.isfile('nlp_features_train.csv'):
    dfnlp = pd.read_csv("nlp_features_train.csv",encoding='latin-1')
else:
    print(" run previous cells ")

if os.path.isfile('df_fe_without_preprocessing_train.csv'):
    dfppro = pd.read_csv("df_fe_without_preprocessing_train.csv",encoding='latin-1')
else:
    print(" run previous notebook")

In [8]:
dfnlp

            id    qid1  ...  fuzz_partial_ratio longest_substr_ratio
0            0       1  ...                 100             0.982759
1            1       3  ...                  75             0.596154
2            2       5  ...                  54             0.166667
3            3       7  ...                  40             0.039216
4            4       9  ...                  56             0.175000
...        ...     ...  ...                 ...                  ...
404285  404285  433578  ...                  87             0.387500
404286  404286   18840  ...                  73             0.642857
404287  404287  537928  ...                  76             0.444444
404288  404288  537930  ...                  46             0.052632
404289  404289  537932  ...                  86             0.605263

[404290 rows x 21 columns]

In [9]:
dfppro

            id    qid1    qid2  ... word_share freq_q1+q2  freq_q1-q2
0            0       1       2  ...   0.434783          2           0
1            1       3       4  ...   0.200000          5           3
2            2       5       6  ...   0.166667          2           0
3            3       7       8  ...   0.000000          2           0
4            4       9      10  ...   0.100000          4           2
...        ...     ...     ...  ...        ...        ...         ...
404285  404285  433578  379845  ...   0.440000          4           0
404286  404286   18840  155606  ...   0.312500         13          11
404287  404287  537928  537929  ...   0.142857          2           0
404288  404288  537930  537931  ...   0.025000          2           0
404289  404289  537932  537933  ...   0.444444          2           0

[404290 rows x 17 columns]

In [10]:
#drop the id and the question texts 
df1 = dfnlp.drop(['qid1','qid2','question1','question2'],axis=1)
#drop the id and the question texts and isduplicate 
df2 = dfppro.drop(['qid1','qid2','question1','question2','is_duplicate'],axis=1)
#drop the id and the question texts and isduplicate
df3 = df.drop(['qid1','qid2','question1','question2','is_duplicate'],axis=1)

In [ ]:
df3_q1 = pd.DataFrame(df3.q1_feats_m.values.tolist(), index= df3.index)
df3_q2 = pd.DataFrame(df3.q2_feats_m.values.tolist(), index= df3.index)

In [12]:
# dataframe of nlp features
df1.head()

   id  is_duplicate  ...  fuzz_partial_ratio  longest_substr_ratio
0   0             0  ...                 100              0.982759
1   1             0  ...                  75              0.596154
2   2             0  ...                  54              0.166667
3   3             0  ...                  40              0.039216
4   4             0  ...                  56              0.175000

[5 rows x 17 columns]

In [13]:
# data before preprocessing 
df2.head()

   id  freq_qid1  freq_qid2  ...  word_share  freq_q1+q2  freq_q1-q2
0   0          1          1  ...    0.434783           2           0
1   1          4          1  ...    0.200000           5           3
2   2          1          1  ...    0.166667           2           0
3   3          1          1  ...    0.000000           2           0
4   4          3          1  ...    0.100000           4           2

[5 rows x 12 columns]

In [ ]:
# Questions 1 tfidf weighted word2vec
df3_q1.head()

In [ ]:
# Questions 2 tfidf weighted word2vec
df3_q2.head()

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,125.983301,95.636485,42.114702,95.449980,-37.386295,39.400078,-148.116070,-87.851475,110.371966,62.272814,...,16.165592,33.030668,7.019996,-14.793959,15.437511,8.199658,-25.070834,1.571619,1.603738,0.305645
1,-106.871904,80.290331,79.066297,59.302092,-42.175328,117.616655,-144.364237,-127.131513,22.962533,25.397575,...,-4.901128,-4.565393,41.520751,-0.727564,-16.413776,-7.373778,2.638877,-7.403457,2.703070,0.408040
2,7.072875,15.513378,1.846914,85.937583,-33.808811,94.702337,-122.256856,-114.009530,53.922293,60.131814,...,8.359966,-2.165985,10.936580,-16.531660,14.681230,15.633759,-1.210901,14.183826,11.703135,10.148075
3,39.421531,44.136989,-24.010929,85.265863,-0.339022,-9.323137,-60.499651,-37.044763,49.407848,-23.350150,...,3.311411,3.788879,13.398598,-6.592596,6.437365,5.993293,2.732392,-3.727647,5.614115,6.023693
4,31.950101,62.854106,1.778164,36.218768,-45.130875,66.674880,-106.342341,-22.901008,59.835938,62.663961,...,-2.403870,11.991204,8.088483,-15.090201,8.375166,1.727225,-6.601129,11.317413,11.544603,2.478689

In [ ]:
print("Number of features in nlp dataframe :", df1.shape[1])
print("Number of features in preprocessed dataframe :", df2.shape[1])
print("Number of features in question1 w2v  dataframe :", df3_q1.shape[1])
print("Number of features in question2 w2v  dataframe :", df3_q2.shape[1])
print("Number of features in final dataframe  :", df1.shape[1]+df2.shape[1]+df3_q1.shape[1]+df3_q2.shape[1])

Number of features in nlp dataframe : 17
Number of features in preprocessed dataframe : 12
Number of features in question1 w2v  dataframe : 384
Number of features in question2 w2v  dataframe : 384
Number of features in final dataframe  : 794

In [15]:
# storing the final features to csv file
#merging of the data frames 
if not os.path.isfile('final_features.csv'):
    df3_q1['id']=df1['id']
    df3_q2['id']=df1['id']
    df1  = df1.merge(df2, on='id',how='left')
    df2  = df3_q1.merge(df3_q2, on='id',how='left')
    result  = df1.merge(df2, on='id',how='left')
    result.to_csv('final_features.csv')
else:
  print("Already Done Ready to go")

Already Done Ready to go