## Importing Libraries

In [1]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [4]:
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from subprocess import check_output
%matplotlib inline
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls
import os
import gc

import re
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from bs4 import BeautifulSoup
from nltk.corpus import stopwords
# This package is used for finding longest common subsequence between two strings
# you can write your own dp code for this
from nltk.stem import PorterStemmer
from bs4 import BeautifulSoup
from os import path

In [5]:
##mount drive for data
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#setup the path
%cd /content/drive/MyDrive/Quora

In [8]:
#https://stackoverflow.com/questions/12468179/unicodedecodeerror-utf8-codec-cant-decode-byte-0x9c
if os.path.isfile('df_fe_without_preprocessing_train.csv'):
    df = pd.read_csv("df_fe_without_preprocessing_train.csv",encoding='latin-1')
    df = df.fillna('')
    df.head()
else:
    print("get df_fe_without_preprocessing_train.csv from running the previous notebook")

In [9]:
df.head(2)

   id  qid1  qid2  ... word_share freq_q1+q2  freq_q1-q2
0   0     1     2  ...   0.434783          2           0
1   1     3     4  ...   0.200000          5           3

[2 rows x 17 columns]

<h2> 3.4 Preprocessing of Text </h2>

- Preprocessing:
    - Removing html tags 
    - Removing Punctuations
    - Performing stemming
    - Removing Stopwords
    - Expanding contractions etc.

In [10]:
# To get the results in 4 decemal points
SAFE_DIV = 0.0001 

STOP_WORDS = stopwords.words("english")


def preprocess(x):
    x = str(x).lower()
    x = x.replace(",000,000", "m").replace(",000", "k").replace("′", "'").replace("’", "'")\
                           .replace("won't", "will not").replace("cannot", "can not").replace("can't", "can not")\
                           .replace("n't", " not").replace("what's", "what is").replace("it's", "it is")\
                           .replace("'ve", " have").replace("i'm", "i am").replace("'re", " are")\
                           .replace("he's", "he is").replace("she's", "she is").replace("'s", " own")\
                           .replace("%", " percent ").replace("₹", " rupee ").replace("$", " dollar ")\
                           .replace("€", " euro ").replace("'ll", " will")
    x = re.sub(r"([0-9]+)000000", r"\1m", x)
    x = re.sub(r"([0-9]+)000", r"\1k", x)
    
    
    porter = PorterStemmer()
    pattern = re.compile('\W')
    
    if type(x) == type(''):
        x = re.sub(pattern, ' ', x)
    
    
    if type(x) == type(''):
        x = porter.stem(x)
        example1 = BeautifulSoup(x)
        x = example1.get_text()
               
    
    return x

In [11]:
def text_preprocessing(df):
    # preprocessing each question
    df["question1"] = df["question1"].fillna("").apply(preprocess)
    df["question2"] = df["question2"].fillna("").apply(preprocess)

    return df

In [13]:
if os.path.isfile('/content/drive/MyDrive/Quora Data/df_with_preprocessing_train.csv.csv'):
    df = pd.read_csv("/content/drive/MyDrive/Quora Data/df_with_preprocessing_train.csv.csv",encoding='latin-1')
    df.fillna('')
else:
    print("Preprocessing Text:")
    df = pd.read_csv("train.csv")
    df = text_preprocessing(df)
    df.to_csv("/content/drive/MyDrive/Quora Data/df_with_preprocessing_train.csv", index=False)
    
df.head(2)

Preprocessing Text:

   id  qid1  ...                                          question2 is_duplicate
0   0     1  ...  what is the step by step guide to invest in sh...            0
1   1     3  ...  what would happen if the indian government sto...            0

[2 rows x 6 columns]

In [14]:
df.isnull().sum(axis = 1)

0         0
1         0
2         0
3         0
4         0
         ..
404285    0
404286    0
404287    0
404288    0
404289    0
Length: 404290, dtype: int64